* {
    margin: 0px;
    padding: 0px;
}

p {
    z-index: 1000;
    text-decoration: none;
}

.home-navbar-main-cnt {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 30px;
    padding-left: 50px;
}

.home-nav-btn-link {
    z-index: 10;
}

button {
    width: 170px;
    height: 50px;
}

#home-navbar-btn1{
    background-color: rgba(161, 86, 231, 0.63);
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

#home-navbar-btn2{
    background-color: rgb(240, 203, 37);
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}