* {
    margin: 0px;
    padding: 0px;
}

.rawdata-main-cnt {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.rawdata-transfer-main-cnt {
    padding-top: 20px;
    /* padding-left: 30px; */
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid black; */
    box-sizing: border-box;
}

#rawdata-btn1 {
    width: 170px;
    height: 40px;
    background-color: #4CAF50;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-weight: 600;
        font-size: 15px;
    }
}

.rawdata-receive-main-cnt {
    width: 100%;
    height: 60%;
    /* border: 2px solid black; */
    box-sizing: border-box;
    display: flex;
    gap: 4px;
}

.rawdata-inp-main-cnt {
    width: 96.5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(82, 80, 80);
}
.rawdata-inp-main-inner-cnt {
    margin-left: 40px;
    width: 90.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rawdata-select-main-cnt {
    display: flex;

    select {
        margin-left: 10px;
        height: 40px;
    }

}

.rawdata-cyle-main-cnt {
    display: flex;

    input {
        margin-left: 10px;
        height: 40px;
    }
}

.rawdata-count-main-cnt {
    display: flex;

    input {
        margin-left: 10px;
        height: 40px;
    }
}

#rawdata-inp-btn1 {
    width: 170px;
    height: 45px;
    background-color: #bef5c0;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-weight: 600;
        font-size: 15px;
    }
}

.rawdata-inp-txt-cnt{
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.rawdata-transfer-inp-main-cnt{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 3px;
}

.rawdata-transfer-txt-main-cnt{
    width: 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
}


.rawdata-transfer-txt-inner-main-cnt{
    display: flex;
    flex-direction: column;
    p{
        color: black;
        font-size: 15px;
        font-weight: 600;
    }
}


.rawdata-receive-sidebar-main-cnt{
    width: 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
}

.rawdata-receive-sidebar-inner-main-cnt{
    display: flex;
    flex-direction: column;
    p{
        color: black;
        font-size: 15px;
        font-weight: 600;
    }
}

.rawdata-receive-main-display-cnt{
    width: 96.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(82, 80, 80);;
}
tr{
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
}

#rawdata-receive-time-cnt{
    width: 12%;
}


#rawdata-receive-txrx-cnt{
    width: 8%;
}

#rawdata-receive-datalength-cnt{
    width: 15%;
}   

#rawdata-receive-id-cnt{
    width: 15%;
}